*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(44, 82, 82);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.content-container{
    width: 200px;
    height: 200px;
}
